<div class="row">
  <div class="small-12 columns">
    <footer id="footer">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <span class="created-by small-only-text-center">
            Created by <a href="https://twitter.com/heroiceric">@HeroicEric</a>
          </span>
        </div>
        <div class="small-12 medium-6 columns">
          <div class="footer-links small-only-text-center text-right">
            <a href="https://github.com/HeroicEric/ember-cli-rails-oauth-example">
              <i class="fa fa-github fa-2"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
